@import "./variables.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:var(--font-body);

    background:var(--color-off-white);

    color:var(--color-black);

    overflow-x:hidden;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font:inherit;

    border:none;

    cursor:pointer;

}

img{

    width:100%;

    display:block;

}